<script type="text/javascript">
  SECRETS = {{ passwd }};
  function toto(){
      user = document.getElementById("username").value;
      passwd = document.getElementById("password").value;
      console.log(user + ":" + passwd + " == " + SECRETS[user])
      if(SECRETS[user] === passwd){
          //Get auth token
          token_url = window.location + "/auth/" + user;
          (async () => {
              try {
                  var response = await fetch(token_url);
                  var data = await response.json();
                  console.log(data);
                  document.cookie = "user="+user;
                  document.cookie = "token="+data['token'];
                  window.location.href = window.location + "/secret"
              } catch (e) {
                  console.log('Cookie set failed');
              } 
          })();
      } else {
          console.log("Login failed")
          window.location.href = window.location + "/failed"
      }
  }
</script>
<h1>Login</h1>
<p>Hello world</p>
<input type="text" name="username" id="username" />
<input type="password" name="password" id="password" />
<button onClick="toto()">Login</button>
