<script type="text/javascript">
  function toto(){
      user = "{{ user }}";
      mfa = document.getElementById("mfa").value;
      //Get auth token
      token_url = window.location + "/auth/" + user;
      (async () => {
          try {
              var response = await fetch(
                  token_url, {
                      method: "POST",
                      headers: {
                          "Content-Type": "application/json",
                      },
                      body: JSON.stringify({"user": user, "mfa":mfa})}
              );
              var data = await response.json();
              console.log(data);
              document.cookie = "mfa="+data['mfa'];
              window.location.href = window.location + "/secret"
          } catch (e) {
              console.log(e)
              console.log('Cookie set failed');
              window.location.href = window.location + "/failed"
          } 
      })();
  }
</script>
<h1>Login</h1>
<p>Hello world</p>
<input type="text" name="mfa" id="mfa" />
<button onClick="toto()">SMS code</button>
