<script type="text/javascript">
  function toto(){
      user = document.getElementById("username").value;
      passwd = document.getElementById("password").value;
      //Get auth token
      token_url = window.location + "/auth/" + user;
      (async () => {
          try {
              var response = await fetch(
                  token_url, {
                      method: "POST",
                      headers: {
                          "Content-Type": "application/json",
                      },
                      body: JSON.stringify({"user": user, "passwd":passwd})}
              );
              var data = await response.json();
              console.log(data);
              document.cookie = "user="+user;
              document.cookie = "token="+data['token'];
              window.location.href = window.location + "/secret"
          } catch (e) {
              console.log(e)
              console.log('Cookie set failed');
              window.location.href = window.location + "/failed"
          } 
      })();
  }
</script>
<h1>Login</h1>
<p>Hello world</p>
<input type="text" name="username" id="username" />
<input type="password" name="password" id="password" />
<button onClick="toto()">Login</button>
