<!-- <meta http-equiv="refresh" content="5"> -->
<script type="text/javascript">
  function toto(){
      who = document.getElementById("who").value;
      target = document.getElementById("target").value;
      host = document.getElementById("host").value;
      proof = document.getElementById("proof").value;
      //Get auth token
      token_url = window.location + "/updatescore";
      (async () => {
          try {
              var response = await fetch(
                  token_url, {
                      method: "POST",
                      headers: {
                          "Content-Type": "application/json",
                      },
                      body: JSON.stringify({"who": who,
                                            "target": target,
                                            "host": host,
                                            "proof": proof})}
              );
              var data = await response.json();
              console.log("Score updated")
          } catch (e) {
              console.log(e)
              console.log('Score set failed');
          } 
      })();
  }
</script>
<h1>Login</h1>
<p>Hello world</p>
Who:<input type="text" name="who" id="who" />
powned user <input type="text" name="target" id="target" />
on host <input type="text" name="host" id="host" />
proof: <input type="text" name="proof" id="proof" />
<button onClick="toto()">Update score</button>
<br/>
<img src="scores.png">
